<% include ./partials/header %>

<h2 class="ui header">Days Before Rodeo: The Prayer</h2>

<iframe 
    width="560" height="315" 
    src="https://www.youtube.com/embed/nQEzO1vEbOw" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>

<h2 class="ui header">Drugs You Should Try It</h2>

<iframe 
    width="560" height="315" 
    src="https://www.youtube.com/embed/BtZ6hmT5_I0" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>

<% include ./partials/footer %>