<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">La New Post</div>
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>La Title</label>
      <input type="text" name="blog[title]" placeholder="title">
    </div>
    <div class="field">
      <label>La Image</label>
      <input type="text" name="blog[image]" placeholder="image">
      </div>
    <div class="field">
      <label>La Post Content</label>
      <textarea name="blog[body]" required> </textarea>
      </div>
    <input class="ui primary button" type="submit">
     
  </form>
</div>
<% include ./partials/footer %>