<% include ./partials/header %>

<h2 class="ui header">Maria I'm Drunk</h2>


<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/fI-mnYR-Mp8" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<h2 class="ui header">Antidote</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KnZ8h3MRuYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<% include ./partials/footer %>